/* input, select {
  margin: 10px;
  display: block;
}

span {
  display: inline;
}

textarea {
  display: block;
} */

.space {
  width: 50%;
  margin: 0 auto;
}

body {
  background-color: rgb(146, 192, 146);
}

.footer {
  background-color: rgb(146, 192, 146);
}
