.hero-title, p {
    text-align: center;
}


ol li:hover {
    background-color: white;
}

.sites:active, a:active {
    color: white;
}

ol {
    margin-left: 35%;
    text-align: center;
}
ol li {
    
    width: 30%;
}

body {
    background-color: rgb(119, 113, 112);
}

ol, ul {
    list-style: none;
}