.App {
  text-align: center;
}

body {
  background-color: black;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select,
input,
textarea {
  margin: 10px;
}
