.App {
  text-align: center;
}

body {
  background-color: black;
  background-image: url("https://cdn.pixabay.com/photo/2020/05/04/11/04/pokeball-5128709_960_720.jpg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  background-attachment: fixed;
  color: whitesmoke;
}

.Poks {
  display: flex;
  flex-direction: column;
  margin: solid black;
  border: 1px solid;
  min-height: 50px;
  width: 470px;
  border-radius: 5%;
  margin: 36px;
  background-color: rgba(235, 3, 3, 0.7);
}

.blocos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
}

span {
  width: 0;
  height: 0;
  border: 100px solid transparent;
  display: flex;
  align-self: center;
  cursor: pointer;
}

.esquerda {
  border-right-color: rgb(235, 235, 235);
}

.direita {
  border-left-color: rgb(235, 235, 235);
}

.esquerda:hover {
  border-right-color: rgb(255, 255, 255);
}

.direita:hover {
  border-left-color: rgb(255, 255, 255);
}

li {
  list-style: none;
  min-height: 40px;
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: whitesmoke;
  font-size: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  align-items: center;
}

.nav-bar {
  display: flex;
  margin-bottom: 10px;
}

button {
  width: 200px;
  margin-bottom: 20px;
}

.info {
  margin-bottom: 40px;
}
